@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");


body {
	line-height: 1;
    -webkit-text-size-adjust: none;
    font-family: 'Open Sans', sans-serif;

}

@-ms-viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.paySucc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
}

.text-center{
    text-align: center;
}

.return{
    text-decoration: none;
    color: blue;
}